<launch>
        <rosparam file="$(find rover)/config/controllers.yaml" command="load"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true"
                output="screen" args="joint_state_controller
                                    base_controller  FR_CON FL_CON RR_CON RL_CON">
        </node>
</launch>